@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-margin-left-141 {
  margin-left: 141px;
}

@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400&display=swap");

.font-muli {
  font-family: "Muli", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

.font-playfair-bold {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap");

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

.font-playfair-semibold {
  font-family: "Playfair Display", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

.font-playfair-semibold {
  font-family: "Playfair Display", serif;
  font-weight: 600; /* SemiBold weight */
}

@import url("https://fonts.googleapis.com/css?family=Muli:800&display=swap");

.font-Muli-ExtraBold {
  font-family: "Muli", sans-serif;
  font-weight: 600; /* ExtraBold weight */
}